// includes
@import url("var.inc.less");
//@import url("glyph.inc.less");

@purple: #6B2A7E;
@green:  #55B747;

@font: 'Patrick Hand', Helvetica, sans-serif;

// tags
html,
body {
	width: auto;
	height: auto;
	background: darken(@purple, 5%) linear-gradient(to bottom, @purple, darken(@purple, 5%));
	color: @lightest;
	font: 300 16px/1.2 @font;
}
.heading {
	font-weight: inherit;
}


// classes
.grid-slide {
	min-height: 70vh;
}
.grid-section {
	@media (max-width: @mobile) {
		padding-left: 5%;
		padding-right: 5%;
	}
}

// sections
#app {
	overflow: hidden;
}
@keyframes look-at-me {
	0% {
		transform: scale3d(1, 1, 1);
	}
	100% {
		transform: scale3d(1.2, 1.2, 1.1);
	}
}
#banner {
	font-size: 10px;
	text-transform: uppercase;
	
	img {
		width: 80%;
		max-width: 1000px;
		max-height: 600px;
		margin: @u*2;
	}
	h1 {
		font-size: 100px;
		margin: 0;
	}
	h2 {
		font-size: 40px;
		margin: 0;
	}
	@media (max-width: @mobile) {
		h1 {
			font-size: 48px;
		}
		h2 {
			font-size: 24px;
		}
	}
}
#action {
	h2 {
		animation: look-at-me 2s infinite alternate;
	}
	.hole {
		display: inline-block;
		position: relative;
		background-color: @darkest;
		vertical-align: middle;
		border: solid @u darken(@purple, 10%);
		border-radius: 100%;
		user-select: none;
		perspective: 1000px;
	
		.pops {
			pointer-events: none;
			
			.pop {
				position: absolute;
				bottom: 0;
				left: 40%;
				opacity: 1;
				transform: scale3d(0, 0, 1) translate3d(0, 0, 0) rotateX(0) rotate(0);
				transform-origin: center bottom 400px;
				transition: all 900ms linear;
				
				svg {
					width: 50px;
					
					path {
						fill: @green;
					}
				}
				&:nth-child(2n) svg path {
					fill: saddlebrown;
				}
				&:nth-child(4n) svg path {
					fill: red;
				}
				&:nth-child(3n) svg path {
					fill: orange;
				}
			}
		}
		.big-btn {
			position: relative;
			background: none;
			color: @lightest;
			font-size: 50px;
			padding: 0;
			border-radius: 100%;
			margin: 0 0 12px 0;
			outline: none;
			box-shadow: 0 12px 0 darken(@green, 20%), 0 15px 20px rgba(0, 0, 0, .35);
			transition: box-shadow .1s ease-in-out;
			transform: rotateX(0) translateY(0) translateZ(0);
			transform-origin: center top 50px;
			z-index: 10;
			
			-webkit-tap-highlight-color: transparent;
			
			img {
				transform: rotate(45deg);
			}
			> * {
				display: inline-block;
				width: 100%;
				height: 100%;
				min-width: 250px;
				min-height: 250px;
				background-color: @green;
				background-image: linear-gradient(fadeout(@lightest, 90%), fadeout(@darkest, 90%));
				text-transform: uppercase;
				text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
				padding: 25px 50px 50px;
				border-radius: 100%;
				box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
				transition: background-color .2s ease-in-out, transform .1s ease-in-out;
			}
			&:hover > * {
			    background-color: lighten(@green, 5%);
			    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
			}
			&:active > * {
			   margin-top: @u/2;
			   margin-bottom: -@u/2;
			}
			&:active,
			&:focus {
			    box-shadow: 0 12px 0 darken(@green, 20%), 0 12px 10px rgba(0, 0, 0, .32);
			}
		}
		.share {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: @u*2 10%;
			transform: translateZ(-0.000001);
			transition: opacity 2s;
			opacity: 0;
			z-index: 2;
			
			.counter {
				font-family: Helvetica, Arial, sand-serif;
				font-size: 36px;
			}
			svg {
				height: 16px;
			}
			h4 {
				margin: 0;
				font-size: 1.2em;
			}
			.twitter-share-button {
				margin-top: @u;
			}
		}
	}
	&.popped {
		.hole {
			.big-btn {
				transform: rotateX(-170deg) translate(-300px, -1000px);
				transition: all @t*3 ease-in-out 60ms;
			}
		}
		.share {
			opacity: 1;
		}
	}
}
#footer {
	max-width: 400px;
	color: @darkest;
	font: 14px/1.4 Helvetica, sans-serif;
	padding-bottom: @hh/2;
	
	#about,
	#contact {
		background-color: rgba(255, 255, 255, .25);
		padding: @u;
		margin: @u;
		border-radius: @u;
		
		a {
			text-decoration: underline;
		}
	}
}